# alertPatterns

In [ ]:
alertPatterns.csv

## Imports Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Load Data

In [2]:
df = pd.read_csv('alertPatterns.csv')

In [3]:
df.head()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
0,50,scatter_gather,0,5,10,2700,3000,10,30,NaN,True
1,50,gather_scatter,0,7,11,2700,3000,10,30,NaN,True

In [4]:
df.shape

(2, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   count         2 non-null      int64
 1   type          2 non-null      object
 2   schedule_id   2 non-null      int64
 3   min_accounts  2 non-null      int64
 4   max_accounts  2 non-null      int64
 5   min_amount    2 non-null      int64
 6   max_amount    2 non-null      int64
 7   min_period    2 non-null      int64
 8   max_period    2 non-null      int64
 9   bank_id       0 non-null      float64
 10  is_sar        2 non-null      bool
dtypes: bool(1), float64(1), int64(8), object(1)
memory usage: 290.0+ bytes

In [6]:
df.dtypes

count             int64
type             object
schedule_id       int64
min_accounts      int64
max_accounts      int64
min_amount        int64
max_amount        int64
min_period        int64
max_period        int64
bank_id         float64
is_sar             bool
dtype: object

In [7]:
df.describe()

,count,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id
count,2.0,2.0,2.000000,2.000000,2.0,2.0,2.0,2.0,0.0
mean,50.0,0.0,6.000000,10.500000,2700.0,3000.0,10.0,30.0,NaN
std,0.0,0.0,1.414214,0.707107,0.0,0.0,0.0,0.0,NaN
min,50.0,0.0,5.000000,10.000000,2700.0,3000.0,10.0,30.0,NaN
25%,50.0,0.0,5.500000,10.250000,2700.0,3000.0,10.0,30.0,NaN
50%,50.0,0.0,6.000000,10.500000,2700.0,3000.0,10.0,30.0,NaN
75%,50.0,0.0,6.500000,10.750000,2700.0,3000.0,10.0,30.0,NaN
max,50.0,0.0,7.000000,11.000000,2700.0,3000.0,10.0,30.0,NaN

In [8]:
# The number of duplicates 
df.duplicated(subset=None, keep='first').sum()

0

In [9]:
df.isnull().sum()

count           0
type            0
schedule_id     0
min_accounts    0
max_accounts    0
min_amount      0
max_amount      0
min_period      0
max_period      0
bank_id         2
is_sar          0
dtype: int64

## the end