# alertPatterns

## Imports Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Load Data

In [2]:
df = pd.read_csv('alertPatterns.csv')

In [3]:
df.head()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
0,1,fan_in,2,5,5,100,200,10,20,NaN,True
1,1,fan_out,2,5,5,100,200,10,20,NaN,True
2,1,bipartite,2,5,5,100,200,10,20,NaN,True
3,1,stack,2,5,5,100,200,10,20,NaN,True
4,1,random,2,5,5,100,200,10,20,NaN,True

In [4]:
df.shape

(8, 11)

In [5]:
df.tail()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
3,1,stack,2,5,5,100,200,10,20,NaN,True
4,1,random,2,5,5,100,200,10,20,NaN,True
5,1,cycle,2,5,5,100,200,10,20,NaN,True
6,1,scatter_gather,2,7,7,100,200,10,20,NaN,True
7,1,gather_scatter,2,11,11,100,200,10,20,NaN,True

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   count         8 non-null      int64
 1   type          8 non-null      object
 2   schedule_id   8 non-null      int64
 3   min_accounts  8 non-null      int64
 4   max_accounts  8 non-null      int64
 5   min_amount    8 non-null      int64
 6   max_amount    8 non-null      int64
 7   min_period    8 non-null      int64
 8   max_period    8 non-null      int64
 9   bank_id       0 non-null      float64
 10  is_sar        8 non-null      bool
dtypes: bool(1), float64(1), int64(8), object(1)
memory usage: 776.0+ bytes

## the end