# accounts

## Imports Libraries

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Load Data

In [2]:
df = pd.read_csv('accounts.csv')

In [3]:
df.head()

   count  min_balance  max_balance country business_type  model bank_id
0     16        50000       100000      US             I      1  bank_a

In [4]:
df.tail()

   count  min_balance  max_balance country business_type  model bank_id
0     16        50000       100000      US             I      1  bank_a

In [5]:
df.shape

(1, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   count          1 non-null      int64
 1   min_balance    1 non-null      int64
 2   max_balance    1 non-null      int64
 3   country        1 non-null      object
 4   business_type  1 non-null      object
 5   model          1 non-null      int64
 6   bank_id        1 non-null      object
dtypes: int64(4), object(3)
memory usage: 184.0+ bytes

## the end