# alertPatterns

## import Library

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Read Data

In [2]:
df = pd.read_csv('alertPatterns.csv')

In [3]:
df.head()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
0,3,fan_in,2,4,6,100.0,200.0,10,20,bank_a,True
1,3,fan_out,2,4,6,100.0,200.0,10,20,bank_b,True
2,4,cycle,2,4,6,100.0,200.0,10,20,NaN,True

In [5]:
df.tail()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
0,3,fan_in,2,4,6,100.0,200.0,10,20,bank_a,True
1,3,fan_out,2,4,6,100.0,200.0,10,20,bank_b,True
2,4,cycle,2,4,6,100.0,200.0,10,20,NaN,True

In [7]:
df.shape

(3, 11)

In [8]:
df.columns

Index(['count', 'type', 'schedule_id', 'min_accounts', 'max_accounts',
       'min_amount', 'max_amount', 'min_period', 'max_period', 'bank_id',
       'is_sar'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   count         3 non-null      int64
 1   type          3 non-null      object
 2   schedule_id   3 non-null      int64
 3   min_accounts  3 non-null      int64
 4   max_accounts  3 non-null      int64
 5   min_amount    3 non-null      float64
 6   max_amount    3 non-null      float64
 7   min_period    3 non-null      int64
 8   max_period    3 non-null      int64
 9   bank_id       2 non-null      object
 10  is_sar        3 non-null      bool
dtypes: bool(1), float64(2), int64(6), object(2)
memory usage: 371.0+ bytes

## the end