# AggregateTransaction

**Note:** This data (**AggregateTransaction.csv**) it have 0 row & 9 colom there nothing to do on it.

## import Library

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Read Data

In [3]:
df = pd.read_csv('AggregateTransaction.csv')

In [4]:
df.head()

Empty DataFrame
Columns: [type, tmonth, tday, thour, tcount, tsum, tavg, tstd, step]
Index: []

In [5]:
df.tail()

Empty DataFrame
Columns: [type, tmonth, tday, thour, tcount, tsum, tavg, tstd, step]
Index: []

In [6]:
df.shape

(0, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    0 non-null      object
 1   tmonth  0 non-null      object
 2   tday    0 non-null      object
 3   thour   0 non-null      object
 4   tcount  0 non-null      object
 5   tsum    0 non-null      object
 6   tavg    0 non-null      object
 7   tstd    0 non-null      object
 8   step    0 non-null      object
dtypes: object(9)
memory usage: 0.0+ bytes

## The End