# initialBalanceClients

## Imports Libraries

In [2]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Load Data

In [3]:
df = pd.read_csv('initialBalanceClients.csv')

In [4]:
df.head()

Empty DataFrame
Columns: [range_start, range_end, percentage]
Index: []

In [5]:
df.tail()

Empty DataFrame
Columns: [range_start, range_end, percentage]
Index: []

In [6]:
df.shape

(0, 3)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   range_start  0 non-null      object
 1   range_end    0 non-null      object
 2   percentage   0 non-null      object
dtypes: object(3)
memory usage: 0.0+ bytes

In [9]:
df.describe()

       range_start range_end percentage
count            0         0          0
unique           0         0          0
top            NaN       NaN        NaN
freq           NaN       NaN        NaN

## the end