# transferFreq4Mod

**Note:** This csv have **No** data

## Imports Libraries

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Read Data

In [2]:
df = pd.read_csv('transferFreq4Mod.csv')

In [3]:
df.head()

Empty DataFrame
Columns: [type, high, low, total, freq]
Index: []

In [4]:
df.tail()

Empty DataFrame
Columns: [type, high, low, total, freq]
Index: []

In [5]:
df.shape

(0, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    0 non-null      object
 1   high    0 non-null      object
 2   low     0 non-null      object
 3   total   0 non-null      object
 4   freq    0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

## the end