# alertPatterns

## Imports Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Load Data

In [2]:
df = pd.read_csv('alertPatterns.csv')

In [3]:
df.head()

,count,type,schedule_id,min_accounts,max_accounts,min_amount,max_amount,min_period,max_period,bank_id,is_sar
0,2,cycle,0,3,6,2700,3000,10,30,NaN,True
1,2,scatter_gather,0,5,10,2700,3000,10,30,NaN,True
2,2,gather_scatter,0,7,11,2700,3000,10,30,NaN,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   count         3 non-null      int64
 1   type          3 non-null      object
 2   schedule_id   3 non-null      int64
 3   min_accounts  3 non-null      int64
 4   max_accounts  3 non-null      int64
 5   min_amount    3 non-null      int64
 6   max_amount    3 non-null      int64
 7   min_period    3 non-null      int64
 8   max_period    3 non-null      int64
 9   bank_id       0 non-null      float64
 10  is_sar        3 non-null      bool
dtypes: bool(1), float64(1), int64(8), object(1)
memory usage: 371.0+ bytes

In [5]:
df.shape

(3, 11)

## the end