# transactionType

## import

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#2

In [2]:
transactionType = pd.read_csv('transactionType.csv')

In [3]:
transactionType.head()

       Type  Frequency
0  TRANSFER          1

In [4]:
transactionType.shape

(1, 2)

In [5]:
transactionType.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Type       1 non-null      object
 1   Frequency  1 non-null      int64
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

In [6]:
transactionType.describe()

       Frequency
count        1.0
mean         1.0
std          NaN
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0

In [7]:
transactionType.describe(include = 'all').T

          count unique       top freq mean  std  min  25%  50%  75%  max
Type          1      1  TRANSFER    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Frequency     1    NaN       NaN  NaN    1  NaN    1    1    1    1    1

## the end